body {
    background-color: aliceblue;
   
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }
  
  h1 {
    color: #0b0b0b;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: hsl(33, 100%, 52%);
    text-align: left;
  }